<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
		PUBLIC  "-//mybatis.org//DTD Mapper 3.0//EN"
		"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
		
<mapper namespace="com.joo.study.model.mapper.TestTableMapper">
	<select id="SelectAllList" resultType="hashmap">
		SELECT
			mno, name, id, mail, gen, joinDate
		FROM
			member
		WHERE
			isshow = 'Y'
	</select>
</mapper>